
.title{
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    padding-left: 40px; 
    padding-right: 40px;
    color: rgb(0, 225, 255);
}


.home{
    min-height: 100vh;
    padding-bottom: 40px;
    padding-left: 40px; 
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}